.postcard img {
  max-width: 500px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.postcard span {
  word-wrap: break-word;
}

.postcard p {
  word-wrap: break-word;
}

.spilt span {
  white-space: nowrap !important;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
