.test span {
  word-wrap: break-word;
}

.test p {
  word-wrap: break-word;
}

.spilt span {
  white-space: nowrap !important;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
